body {
  background-color: #f9f9f9; /* Couleur claire */
  color: #333; /* Texte foncé */
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}
#phone {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
#verif-status {
  margin-top: 20px;
  font-weight: bold;
  color: red;
}