.creator {
    color: red;
    font-size: 20px;
    padding: 10px;
}
.friend {
    color: green;
    font-size: 20px;
    padding: 10px;
}
.members {
    color: purple;
    font-size: 20px;
    padding: 10px;
}
.admin {
    color: darkblue;
    font-size: 20px;
    padding: 10px;
}